$white: #ffffff;
$black: #000000;
$border-color: #D7D7D7;
$footer-header-bg:#252525;
$footer-features-bg: #333333;
$footer-features-bg-hover: #131313;
$footer-header-purple-bg-hover: #3a325f;
$bg-categories: #4D4382;
$bg-categories-dark: #3f3769;
$bg-body: #EEEEEE;
$bg-banner-container: #DDDDDD;

$text-light: #999999;
$text-dark: #363F48;
$text-date: #666666;
$text-footer: #CCCCCC;
$text-carousel:#EEF6FA;
$text-news-p: #444444;
$text-single-headline: #222222;
$text-tab-active: #FCC44D;
$text-tab-date: #ACB3BA;
$link: #3677B5;
$kenaz-logo: #45B0E3;

$category-news:#299EC3;
$category-business: #EE6151;
$zoom-img-active:#EE6151;
$zoom-img-hover:#ed61525b;
$category-sport:#84C14F;
$category-life:#5DCFF3;
$category-tech:#FCC44D;
$category-travel:#A99765;