@import './var.scss';
@import './mixins.scss';
@import './header.scss';
@import './footer.scss';
@import './carousel.scss';
@import './banner';
@import './sidebar';
@import './main_class_and_category_html';
@import './single_html';
@import './category';
@import './slickfix';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Regular.ttf);
}
@font-face {
    font-family: "Varela Round";
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face{
    font-family: "Bitter bold";
    font-style: bold;
    src: url(../fonts/Bitter-Bold.ttf);
}
@font-face{
    font-family: "Bitter italic";
    font-style: italic;
    src: url(../fonts/Bitter-Italic.ttf);
}

[v-cloak]{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-body;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.container{
    width: 940px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    font-family: "Varela Round";
}
.purple{
    height: 20px;
    background-color: $bg-categories;
}
ul{
    display: flex;
    li{
        list-style: none;
        @include flexCenter();
        a{
            color: $white;
            text-decoration: none;
        }
     }
}
.categories li{
    &:hover{
       @include purpleHover();
    }
    &.active:hover{
        background-color: $category-news;
    }
}
h2{
    font-family: "Bitter bold";
    font-size: 24px;
    color: $text-dark;
    line-height: 28.8px;
}
a{
    font-family: "Varela Round";
    color: $link;
    font-size: 14px;
}
.headline{
    font-family: "Bitter bold";
    font-size: 14px;
    color: $text-dark;
}
.date{
    @include date();
}
.category.col-span-1{
    grid-column:span 1;
}
.category.tech{
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    .column{
        padding: 0;
        margin: 0;
        img{
            width: 260px;
            height: 150px;
            margin-right: 0;
        }
    }
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*---------RWD-------------*/
@media only screen and (max-width: 940px){
    header,.categories{
        width: 100%;
    }
    header .container,.categories .container{
        padding: 0;
    }
    .banner-lg{
        width: 100%;
    }
    .container{
        width: 100%;
        //padding: 0 10px;
        .main,.sidebar{
            grid-column: 1/-1;
            padding-right: 20px;
        }
        .main{
            order: 0;
            .news-list-item {
                .row-grid{
                    display: flex;
                    flex-direction: column;
                    padding-right: 10px;
                    img{
                        width: 370px;
                        margin-bottom: 10px;
                    }
                }
            }   
        }
        .sidebar{
            .headline{
                font-size: 13px;
            }
            grid-row-start: 5;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 350px 350px;
            column-gap: 20px;
            row-gap: 20px;
            .tabs,.container-banner-xs{
                grid-column: 1/span 1;
            }
            .container-banner-xs{
                grid-row-start: 2;
            }
            .envato{
                grid-column: 2/span 1;
                grid-row-start: 1;
            }
            .social{
                grid-column: 2/span 1;
                grid-row-start: 2;
            }
            .kenaz-tv{
                grid-column: 1/span 2;
                margin: 0 auto;
                width: 100%;
                @include flexCenter();
                flex-direction: column;
                iframe{
                    width: 100%;
                    height: 300px;
                }
            }
        }
        .banner{
            &-md{
                grid-column: 1/-1;
            }
            &-bootm-main{
                order: 4;
            }
        }
        .zoom-slider-container{
            margin: 0;
            padding: 0;
            .zoom-slider-img{
                width: 90px;
                height: 90px;
            }
        }
        .slick-slider{
            max-width: 100vw;
        }
    }  
    .footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        padding-left:  20px;
        padding-right:  20px;
    }
    .footer-kenaz-column,.newsletter{
        grid-column-end: span 1;
    }
    .footer-tags-column{
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        h2{
            margin-top: 60px;}
            .tag-container{
                display: flex;
                flex-wrap: wrap;
                padding-right: 50px;
            }
    } 
    .posts-footer{
        &-twitter-timeline{
            grid-row: 2/span 1;
            grid-column: 2/span 1;
        }
    }
    .bottom.container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    //single.html
    .container{
        .headline-img-container{
            img{
                width: 100%;
            }
            .text{ 
                bottom: 25px;
                .date{
                    padding-bottom: 10px;
                }
            }
        }
        .main{
            .news-list-item{
                p+img,.social-media-interactions-container img{
                    width: 100%;
                }
            }
        }
    } 
   
}
@media only screen and (max-width: 768px){
    .header-nav{
        display: flex;
        flex-direction: column;
        ul li a {
            font-size: 14px;
        }
        ul:first-of-type{
            width: 100%;
            justify-content: start;
        }
        ul:last-of-type{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            border-top: $footer-features-bg 2px solid;
            li{
                padding-left: 0;
                margin-left: 15px;
                margin-right: 4px;
                height: 50px;
                &:last-of-type{
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    .categories ul {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    li {
        padding: 0 12px;
        a{
            padding: 0;
            font-size: 14px;
        }
    }
    }
    .container{
        .slider1{
            .carousel-text{
                padding-left: 80px;
                h1{
                    font-size: 24px;
                    padding-right: 150px;
                }
            }
        }
        .zoom-slider-container{
            height: 400px;
            .slick-list{
                display: none;
            }
        }
        .category{
            grid-template-columns: repeat(1,1fr);
            margin: 0 auto;
            h2{
                font-size: 18px;
            }
            &.news,&.sport{
                grid-template-columns: repeat(2,1fr);
            }
            &.business{
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: auto auto;
                img{
                    width: 150px;
                }
            }
            &.tech .slider4 .single-item,&.travel .slider2 .single-item,&.travel .slider3 .single-item{
                img{
                    display: block;
                    width: 150px;
                    height: min-content;
                }
            }
            &.tech .slider4 .single-item h2:first-of-type{
                margin-right: 10px;
            }
            img{
                width: 80%;
            }
        }
    }
    .container .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0;
        .tabs{
            padding: 0;
            margin: 0;
            max-width: 100%;
            width: 100%;
            &-content{
                width: 100%;
                img {position: absolute;
                    right: 15%;
                    margin-bottom: 20px;
                }
            }
        }
       /* .container-banner-xs{
            width: 100vw;
            justify-content: center;
        }
        .envato{
            margin-left: 70px;
        }*/
    }
    .footer .container{
        padding-left:  20px;
        padding-right:  20px;
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-tags-column{
            margin: 0 auto;
            max-width: 80%;
            h2{
                margin-top: 0;
            }
            .tag-container{
                display: block;
                padding: 0;
                margin: 0;
            }
        }     
    }
    .container .headline-img-container{
        img{
            max-width: 100vw;
        }
        .text{ 
            bottom: 0px;
            .date{
                padding-bottom: 10px;
            }
            h2{
                font-size: 24px;
                margin-top: 0px;
                max-width: 80%;
                line-height: normal;
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .header-nav ul:last-of-type li{
        margin-left: 10px;
        margin-right: 0px;
    }
    .container .headline-img-container .bottom-container .text h2{
        font-size: 16px;
        width: 100%;
        line-height: normal;
    }
   .categories ul li{
        width: 33.3%;
    }
     /*.categories ul{
        display: flex;
        flex-direction: column;
        li{
            display: none;
        }
        li.active{
            display: flex;
        }
    }*/
    //category.html i index
    .container{
        grid-template-columns: repeat(1,1fr);
        width: 100vw;
        max-width: 100vw;
        .slider1{
            .slick-arrow{
                visibility: hidden;
            }
            .carousel-text{
                display: none;
                padding-top: 80px;
                margin-right: 110px;
                h1{
                    font-size: 16px;
                    line-height: normal;
                    width: 100vw;
                    margin-top: 10px;
                }
            }
        }
        .category{
            grid-template-columns: repeat(1,1fr);
            width: 100%;
            &.news,&.sport,&.business{
                grid-template-columns: repeat(1,1fr);
            }
            &.business{
                grid-template-columns: repeat(1,1fr);
                .business-content{
                    display: flex;
                    flex-direction: column;
                }
                img{
                    width: 100%;
                }
            }
            &.tech{
                display: none;
            }
            &.travel{
                grid-column: 1/-1;
            }
        }
        .zoom-slider-container{
            height: 200px;
            max-width: 100vw;
            .slick-list{
                display: none;
            }
            img.zoom-img-icon{
                display: none;
            }
        }
    }
    .container .sidebar{
        align-items: flex-start;
        .tabs{
            width: 100vw;
            max-width: 100vw;
            &-content p{
                    width: 65%;
            }
        }
        .social{
            width: 100%;
            button{
                width: 35vw;
            }
            a{
                font-size: 16px;
            }
            .fans{
                margin-left: 5px;
                font-size: 13px;}
        }
        .kenaz-tv{
            iframe{
                height: 150px;
            }
        }
        .envato {
            width: 100vw;
            iframe{
                height: 280px;
                max-width: 100vw;
            }
        }
        .container-banner-xs{
            width: 100%;
        }
    }
    .banner-lg,.banner-md{
        width: 100vw;
    }
    .main {
        width: 100vw;
        max-width: 100vw;
        grid-column: 1/-1;
        &.single{ 
            grid-template-columns: repeat(1,1fr);
            .news-list-item{
                width: 100%;
                
                .author{
                    flex-direction: column;
                    align-items: flex-start;
                    p{
                        padding-left: 0;
                        margin-left: 0;
                    }
                    img{
                        margin-bottom: 10px;
                    }
                }
                &.comments{
                    .row.space-between{
                        position: relative;
                        margin-top: 20px;
                        .date{
                            margin-left: 0;
                        }
                        .reply{
                            position:absolute;
                            top:-130%;
                            right: 0;
                        }
                    }
                    form input{
                        width: 100%;
                    }
                }
            }
        }
        .news-list-item{
            width: min-content;
            max-width: 100vw;
            padding-right: 0;
            margin-right: 0;
            h2{
                font-size: 20px;
            }
            .row{
                flex-direction: column;
                .date{
                    margin-bottom: 0;
                    &:last-of-type{
                        margin-bottom: 10px;
                    }
                }
            }
            .row-grid img{
                height: 150px;
                max-width: 70vw;
            }
        }
        .page-number{
            width: 100vw;
            max-width: 100vw;
            flex-wrap: wrap;
            padding-right: 20px;
        }
    }
    .footer {
        &-kenaz-column{
            max-width: 100vw;
            .icons{
                flex-wrap: wrap;
            }
        }
        .newsletter{
            max-width: 100vw;
            form{
                max-width: 100vw;
                display: flex;
                flex-direction: column;
                input,button{
                    width: 100%;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    margin-bottom: 7px;
                }
            }
        }
        .container .footer-tags-column{
                max-width: 100%;
        }
        .posts-footer{
            padding-left: 10px;
            padding-right: 10px;
            max-width: 100vw;
            &-twitter-timeline{
                width: 200px;
                max-width: 200px;
                padding-left: 0;
                padding-right: 0;
                .twitter-timeline{
                    width: 200px;
                    max-width: 200px;
                    margin-left: -50px;
                }
            }
        }
    }
    .line{
        width: 100vw;
    }
}